body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    overflow: hidden;
    transition: background 1s ease;
}

.container {
    text-align: center;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 450px;
    max-width: 90%;
}

.weather-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn {
    padding: 12px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

#city-input-btn:hover {
    background-color: #1565C0;
    transform: translateY(-2px);
}

#city-input-btn:active {
    transform: translateY(0);
}

#weather-info {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#weather-info.show {
    display: block;
    opacity: 1;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin: 15px 0;
    animation: bounce 1s infinite;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}

#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .weather-card {
        width: 80%;
    }

    #city-input {
        width: 80%;
    }

    #city-input-btn {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .weather-card {
        width: 90%;
    }

    #city-input {
        width: 90%;
    }

    #city-input-btn {
        width: 90%;
    }

    #weather-icon {
        width: 80px;
        height: 80px;
    }

    #temperature {
        font-size: 22px;
    }

    #description {
        font-size: 16px;
    }
}
